

.row-container{
  display: flex; 
  width:100%;

 
 
}

.cell{

 display: flex;
 border-style: solid;
 border-width: 1px;
 border-color: black;



}

.moused-over{
background-color: var(--backgroundColor);
}
